/* Password Generator Styling */

/* variables */

:root {
  --lightweight: rgba(255, 255, 255, 0.2);
  --lighterweight: rgba(255, 255, 255, 0.754);
  --light: #fff;
  --dark: rgba(67, 67, 67, 0.9);
  --dark_hsl: hsl(210, 6%, 19%);
  --dark-purps: #727587;
  --purps: #909efa;
  --highlight: #6CE0F8;
  --peachier: #DA6D62;
  --gradient: linear-gradient(45deg,
  rgba(197, 180, 227, 0.7), 
  rgba(76, 76, 76, 0.6));
}

/* fade-in */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* init */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

body::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: var(--gradient),
    url("../images/cryptographic-keys.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(0.2rem);
  z-index: -1;
}

h1, h2, h3, h4, p {
  text-align: center;
  padding: .5rem;
}

h1 {
  font-size: 6rem;
  color: #fff;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  color: var(--purps);
}

h3 {
  font-size: 3rem;
  color: #fff;
}

h4 {
  font-size: 1.6rem;
  color: var(--dark-purps)
}

p {
  font-family: 'Nunito', sans-serif;
  color: --light;
}

ul {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

ul>li {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--highlight);
}

small {
  font-size: 16px;
  position: absolute;
  top: 1.6rem;
  left: 14.5rem;
}

em {
  font-size: 14px;
  color: var(--highlight);
}

span {
  margin-top: 1rem;
  letter-spacing: 1em;
  font-weight: 900;
}


button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

textarea {
  margin: 2rem 0 0 0;
  width: 100%;
  height: 10rem;
  min-height: 4em;
  background-color: var(--lighterweight);
  border: #333 .2rem dotted;
  border-radius: 1rem;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  color: #fff;
  
}

::placeholder {
  font-family: 'nunito', sans-serif;
  font-weight: 900;
  letter-spacing: .5rem;
  color: var(--dark-purps);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--light);
}

::-ms-input-placeholder {
  color: var(--light);
}


/* main elements */

/* flex container */

.container {
  margin: 0 auto;
}

/* navbar */

.navbar {
  height: 5rem;
  background-color: var(--dark_hsl);
  font-family: 'nunito', sans-serif;
  color: var(--light);
  height: 5rem;
  padding: 1rem;

}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: var(--light);
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar a:hover {
  color: var(--highlight);
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 2rem;
}

.navbar ul li {
  margin-right: 2rem;
}

.navbar li:last-child {
  margin-right: -1rem;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  text-align: center;
  animation: easeInOutLeft 2s;
  padding: 1rem;
}

.nav-left img {
  width: 4rem;
  /* chrome fix */
  height: 4rem;
  margin: .5rem 0;
}

.nav-left a {
  font-size: 22px;
  margin-top: 1.6rem;
  margin-left: 1rem;
}

/* button login */

#login {
  background-color: transparent;
  border: none;
  padding-top: .2rem;
}

#btn-user {
  color: var(--light);
  background-color: #555;
  font-size: 18px;
  border-radius: 1rem;
  border: none;
  padding: .3rem 1rem;
  cursor: pointer;
}

#btn-user:hover {
  color: #6CE0F8;
  background-color: #777;
}

/* header */

.header {
  text-align: center;
  padding: 2rem;
  padding-bottom: 2rem;
  color: hsl(206, 17%, 28%);
}

.header-welcome h1,h3 {
  /* animation: fadeIn 1s ease-in 0 1 normal none; */
  animation: fadeIn;
  animation-duration: 1s;
  /* -webkit-animation: fadeIn 1s ease-in 0 1 normal none; */
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
}

/* get started header button */

#btn-options {
  color: var(--dark);
  background-color: var(--highlight);
  font-size: 22px;
  font-weight: 900;
  border-radius: 1rem;
  border: none;
  padding: .3rem 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}

#btn-options:hover {
  color: var(--light);
  background-color: #777;
}


/* generator box */

.card {
  background-color: var(--dark);
  border-radius: 1rem;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  padding-top: 0;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

/*  card copy strip */

.copy-strip {
  display: flex;
  justify-content: flex-end;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* password textfield */

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  color: var(--dark);
}

/* copy icon btn */

#copy {
  background-color: transparent;
  /* todo: have the button change color */
  border: none;
  cursor: pointer;
}

/* gen btn */

.btn-gen {
  border: none;
  background-color: rgb(0, 255, 225);
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
  color: var(--dark);
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1rem;
  margin-top: 1.6rem;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}


.btn-gen:hover {
  color: var(--light);
  background-color: #777;
}

/* footer */

.footer {
  height: 3rem;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 2rem;
}

.footer strong {
  color: var(--peachier);
  font-family: monospace;
  font-size: 18px;
}

.footer-text {
  color: var(--light);
  padding: 0px 0px;
}

/* media queries */

/* ipad 12.9 */
@media (max-width: 1024px) {
  .header-welcome h1 {
    font-size: 8rem;
  }
}

@media (max-width: 980px) {
  .header-welcome h1 {
    font-size: 5rem;
  }
}

@media (max-width: 810px) {
  .header-welcome h1 {
    font-size: 4.5rem;
  }
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 690px) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px;
  }

  .navbar a {
    font-size: 14px;
  }

  .nav-left img {
    width: 3rem;
    /* chrome fix */
    height: 3rem;
    margin: .5rem 0;
  }
  
  .nav-left a {
    font-size: 22px;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .btn {
    margin: 16px 0px 0px 0px;
    margin-top: 1.7rem;
    padding: 10px 15px;
    
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 414px) {

  h2 {
    font-size: 27px;
    margin-bottom: 0rem;
  }

  small {
    font-size: 14px;
    position: absolute;
    top: 1.6rem;
    left: 10.5rem;
  }

  .header {
    margin-bottom: -2rem;
  }

  .get-started {
    margin-bottom: 2rem;
  }

  .nav-left a {
    font-size: 14px;
  }

  .nav-left img {
    height: 2.2rem;
  }

  .navbar ul li {
    margin-right: 1rem;
  }
  
  .navbar li:last-child {
    margin-right: -1rem;
  }

  #btn-user {
    font-size: 14px;
    padding: .1rem .5rem;
  }

  .footer-text {
    font-size: 10px;
  }
}

@media (max-width: 375px) {

  .header-welcome h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 0rem;
  }

  h3 {
    font-size: 20px;
  }

  small {
    font-size: 12px;
    position: absolute;
    top: 1.6rem;
    left: 10rem;
  }

  .header {
    margin-bottom: -2rem;
  }

  .get-started {
    margin-bottom: 2rem;
  }

  .nav-left a {
    font-size: 12px;
  }

  .nav-left img {
    height: 2.2rem;
  }

  .nav-items a {
    font-size: 10px;
  }

  .navbar ul li {
    margin-right: 1rem;
  }
  
  .navbar li:last-child {
    margin-right: -1rem;
  }

  #btn-user {
    font-size: 10px;
    padding: .1rem .5rem;
  }

  .card {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-text {
    font-size: 10px;
  }
}

@media (max-width: 320px) {

  .header-welcome h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 17px;
    margin-top: -1rem;
    margin-bottom: 0rem;
  }

  h3 {
    font-size: 18px;
  }

  small {
    font-size: 10px;
    position: absolute;
    top: 1.6rem;
    left: 8.5rem;
  }

  ::placeholder {
    font-size: 12px;
  }

  .footer-text strong {
    font-size: 9px;
  }

  .header {
    margin-bottom: -2rem;
  }

  .nav-left a {
    font-size: 10px;
  }

  .nav-left img {
    height: 2.2rem;
    margin-left: -1rem;
  }

  .nav-items a {
    font-size: 10px;
  }

  .navbar ul li {
    margin-right: .7rem;
  }
  
  .navbar li:last-child {
    margin-right: -2rem;
  }

  #btn-user {
    font-size: 8px;
    padding: .1rem .5rem;
  }

  .card {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-text {
    font-size: 8px;
  }
}
